* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 200px auto;
  font-size: 14px;
}

.action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  width: 215px;
  margin: 0 auto 20px auto;
}

#fileInput {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #409eff;
  border-radius: 5px;
  cursor: pointer;
}

#upload {
  width: 100px;
  height: 40px;
  color: #fff;
  background: #67c23a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

label:hover,
#upload:hover {
  filter: brightness(1.1);
}

#upload:focus {
  outline: none;
}

.file-list {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px 20px 0 20px;
  color: #333;
}

.file-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background: linear-gradient(to left, #cfcfcf 0%, transparent);
}

.file-list::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 1px;
  background: linear-gradient(to right, #cfcfcf 0%, transparent);
}

.file-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.file-name {
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-file {
  cursor: pointer;
}
